.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  margin-right: 15px;
  padding: 0 13px;
  font-size: 22px;
  background-color: #eceff1;
  height: 100%;
  display: flex;
  align-items: center;
  /* Media query for 'xl' screen size */
  @media (max-width: 1400px) {
  }
  /* Media query for 'md' screen size */
  @media (max-width: 992px) {
  }
  /* Media query for 'sm' screen size */
  @media (max-width: 768px) {
  }
  /* Media query for 'xs' screen size */
  @media (max-width: 576px) {
    display: none;
  }
}

.logo a {
  text-decoration: none;
  color: black;
}

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
  /* Media query for 'xl' screen size */
  @media (max-width: 1400px) {
  }
  /* Media query for 'md' screen size */
  @media (max-width: 992px) {
    width: 220px;
  }
  /* Media query for 'sm' screen size */
  @media (max-width: 768px) {
    width: 220px;
  }
  /* Media query for 'xs' screen size */
  @media (max-width: 576px) {
    width: 220px;
  }
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle {
  background-color: rgb(5, 157, 208);
  border: 2px solid rgb(5, 157, 208);
  box-shadow: none;
  outline: none;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
  outline: none;
}
